:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --lightblue: #87CEFA;
    --blue: #4169E1;
    --twitterblue: #1DA1F2;
}

*{
    box-sizing: content-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

header{
    padding: 2rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color:var(--gray);
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    color: var(--light);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-right: 1rem;
}

#new-task-input::placeholder{
    color: var(--gray);
}

#new-task-submit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    /* padding: 1rem; */
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray);
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .contents .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .contents .text:not(:read-only){
    color: var(--pink);
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

#tasks .task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

#tasks .task .actions button:hover{
    opacity: 0.8;
}

#tasks .task .actions button:active{
    opacity: 0.6;
}

#tasks .task .actions .edit{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tasks .task .actions .delete{
    background-image: linear-gradient(to right, red, var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--darker);
    height: 620px;
    width: 620px;
    padding: 30px 40px;
    border-radius: 30px;
    transition: all 0.4s;
}

.popup-open{
    visibility: visible;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1);
}

.popup #close{
    margin-left: auto;
    font-size: 50px;
    font-weight: bold;
    width: 40px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--lightblue), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup #close:hover{
    background-image: linear-gradient(to right, var(--blue), var(--lightblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    transition: 0.7s;
}

.popup #close:active{
    background-image: linear-gradient(to right, var(--blue), var(--lightblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.6;
    transition: 0.7s;
}

.popup h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    text-align: center;
}

.popup li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.55rem;
    text-align: justify;
    text-justify: distribute;
}

.popup #sign-in{
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right, var(--twitterblue), var(--purple));
    border-radius: 30px;
    width: 150px;
    margin: 0 auto auto auto;
}

.popup #sign-in:hover{
    background-image: linear-gradient(to right, var(--purple), var(--twitterblue));
    transition: 0.7s;
    opacity: 0.8;
}

.popup #sign-in:active{
    background-image: linear-gradient(to right, var(--purple), var(--twitterblue));
    transition: 0.7s;
    opacity: 0.6;
}

.popup #sign-up{
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right, var(--purple), red);
    border-radius: 30px;
    width: 150px;
    margin: 0 auto 0 auto;
}

.popup #sign-up:hover{
    transition: 0.7s;
    background-image: linear-gradient(to right, red, var(--purple));
    opacity: 0.8;
}

.popup #sign-up:active{
    transition: 0.7s;
    background-image: linear-gradient(to right, red, var(--purple));
    opacity: 0.6;
}